.contact {
    background-image: url("/src/assets/images/contact-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px ;
} 
 .contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding-top: 50px;
    position: relative;
}
.contact-content .section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 50%;
}

.contact-content .map iframe {
    height:450px;
    border:0;
}
.contact .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    color: white;
}
.call {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.call .one-box {
    box-shadow: 0 0 10px 5px #ccc;
}
.contact .form {
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow:0px 0px 5px 1px #ccc;
    flex-basis:45%;
}
.contact .form label {
    font-size: 14px;
    color: #616161;
    
}
.contact .form .input {
    padding:15px;
    width: 100%;
    margin-top: 15px;
    border: none;
    background-color: #f6f6f6;
    border-radius: 50px;
    caret-color: var(--main-color);
    font-size: 14px;
    margin-bottom: 30px;
}
.contact .form form textarea.input {
    padding: 15px;
    height: 200px;
    border-radius: 20px;
}
.contact .form .input:focus {
    outline: none;
}
.contact .button a {
    display: block;
    padding: 10px 20px;
    width: fit-content;
    background-color: var(--second-color);
    color: white;
    border-radius: 50px;
    margin: 0px auto;
}
/* Media  */
@media (max-width:350px) {
    .contact-content .map iframe {
       max-width: 90%;
    }
    .contact-content .map {
        width: fit-content;
    }
    .call {
        width: fit-content;
    }
    .contact .form {
        padding: 20px;
        width: 280px;
    }
}
@media (min-width:351px) {
    .contact-content .map iframe {
       width: 100%;
    }
}
@media (max-width: 992px) {
    .card .image img {
        width: 80%;
    }
}
@media (max-width:768px) {
    .contact-content { 
        flex-direction: column;
        align-items: normal;
    }
}
@media (max-width:750px) {
    .call {
        flex-direction: row;  
    }
}
@media (max-width:557px) {
    .call {
        flex-direction: column;  
    }
}